[core]
	editor = vim
	excludesfile = /home/waltaskew/.gitignore_global
[user]
	name = waltaskew
	email = waltaskew@gmail.com
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	vimdiff = difftool
[rerere]
    enabled = true
[pull]
    rebase = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
